<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
    <div class="col-10 offset-1">
    <h2>Edit a listing</h2>
    <form method="POST" 
        action="/listings/<%=listing._id %>?_method=PUT"
        class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
            type="text"
            required
            >
            <div class="valid-feedback">Title looks good!!!</div> 
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
            name="listing[description]" 
            class="form-control" required><%=listing.description%>
            </textarea>
            <div class="invalid-feedback">Please provide short Description</div>
        </div>
        <div class="mb-3">
            <label>Original Listing Images:</label>
            <br>
            <% if (listing.image && listing.image.length > 0) { %>
                <% listing.image.forEach(function(img, index) { %>
                    <img src="<%= img.url %>" alt="Listing Image" class="img-fluid" style="max-height: 200px; margin-right: 10px;">
                <% }) %>
            <% } else { %>
                <p>No images uploaded yet.</p>
            <% } %>
            
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input 
            name="listing[image]"
            class="form-control" 
            type="file"
            multiple
            >
        </div>
       
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input 
            name="listing[price]" 
            class="form-control"  
            value="<%=listing.price%>"
            required>
            <div class="invalid-feedback">Please provide valid price</div>
        </div>
        
        <div class="row mb-3">
            <div class="mb-3 col-4">
                <label for="location" class="form-label">Location</label>
                <input 
                name="listing[location]" 
                class="form-control"  
                value="<%=listing.location%>"
                required>
                <div class="invalid-feedback">Please provide valid location</div>
            </div>

            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]"class="form-control"
                value="<%=listing.country%>"
                required>
                <div class="invalid-feedback">Please provide valid country</div>
            </div>

            <div class="row mb-3">
                
                <div class=" col-md-4 mt-2">
                    <label for="category" class="form-label">Category:</label>
                    <select name="listing[category]" class="col-md-6 form-select" value ="<%=listing.category%>" required>
                    <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                    <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                    <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
                    <option value="Mountain" <%= listing.category === 'Mountain' ? 'selected' : '' %>>Mountain</option>
                    <option value="Lake" <%= listing.category === 'Lake' ? 'selected' : '' %>>Lake</option>
                    <option value="Camping" <%= listing.category === 'Camping' ? 'selected' : '' %>>Camping</option>
                    <option value="Castles" <%= listing.category === 'Castles' ? 'selected' : '' %>>Castles</option>
                    <option value="Amazing pool" <%= listing.category === 'Amazing pool' ? 'selected' : '' %>>Amazing pool</option>
                    <option value="farms" <%= listing.category === 'farms' ? 'selected' : '' %>>farms</option>
                    <option value="Domes" <%= listing.category === 'Domes' ? 'selected' : '' %>>Domes</option>
                    <option value="Boats" <%= listing.category === 'Boats' ? 'selected' : '' %>>Boats</option>
                    <option value="Beach" <%= listing.category === 'Beach' ? 'selected' : '' %>>Beach</option>
                    </select>
                </div>

                <div class=" col-md-4 mt-2">
                    <label for="place" class="form-label">Type of place:</label>
                    <select name="listing[place]" class="col-md-6 form-select" value="<%=listing.place%>">
                       <option value="An Entire Place" <%= listing.place === 'Trending' ? 'selected' : '' %>>An Entire Place</option>
                       <option value="Rooms" <%= listing.place === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                       <option value="Shared Room" <%= listing.place === 'Shared Room' ? 'selected' : '' %>>Shared Room</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <p><b>Some basics about your place</b></p>
                <div class="col-md-2 mt-2">
                    <label for="guests" class="form-label">Guests</label>
                    <input 
                    name="listing[guests]"
                    class="form-control" 
                    placeholder="1, 2, 3"
                    type="number"
                    value="<%=listing.guests%>"
                    required
                    >
                </div>
                <div class="col-md-2 mt-2">
                    <label for="bedrooms" class="form-label">Bedrooms</label>
                    <input 
                    name="listing[bedrooms]"
                    class="form-control" 
                    placeholder="1, 2, 3"
                    type="number"
                    value="<%=listing.bedrooms%>"
                    required
                    >
                </div>
                <div class="col-md-2 mt-2">
                    <label for="beds" class="form-label">Beds</label>
                    <input 
                    name="listing[beds]"
                    class="form-control" 
                    placeholder="1, 2, 3"
                    type="number"
                    value="<%=listing.beds%>"
                    required
                    >
                </div>
                <div class="col-md-2 mt-2">
                    <label for="Bathrooms" class="form-label">Bathrooms</label>
                    <input 
                    name="listing[bathrooms]"
                    class="form-control" 
                    placeholder="1, 2, 3"
                    type="number"
                    value="<%=listing.bathrooms%>"
                    required
                    >
                </div>
            </div>
            

            
        </div>
        
        
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>
</div>
</div>
</body>
